<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <!-- 入力フォーム　-->
    <span class="end">
      <input type="button" value="＋" id="register">
    </span>
    <span class="end">
      <input type="button" value="No" id="searchNo">
      <input type="text" name="" value="" placeholder="101" id="NoNum">
    </span>
    <span class="end">
      <input type="button" value="あ" id="searchName">
      <input type="text" name="nameText" value="" placeholder="やまだ　たかゆき" id="nameText">
    </span>

    <!-- コントロール　-->
    <img id="control">
    <div id="controlPanel">
      <ul>
        <li><span class="end"><input type="button" value="外部データ" id="inport"></span></li>
        <li><span class="end"><input type="range" min="-50" max="50" value="slider" id="slider"></span></li>
        <li><input type="button" id="analytics" value="分析"></li>
      </ul>
    </div>

    <p id="count">会員数　<%= memberCount %>　/　最終番号は　<%= lastNo %></p>
    <!-- 検索結果　-->
    <div id="searchResult"></div>

    <div class="head">誕生月</div>
    <div id="birthday"></div>
    <div class="head">連絡板</div>
    <div id="board"></div>
    <div class="head">天気</div>
    <div id="weather"></div>

    <div id="registerWindow"><div id="registerWindowInner"></div></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/javascripts/jquery.easing.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>
