body {
  padding: 50px 50px 0 50px;
  margin: 8px 0 0 8px;
  color: rgb(63, 30, 37);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1,h3 {
	margin: 8px 0;
	padding: 0;
	color: rgb(115, 153, 23);
}

h1 {
	margin: 0 0 1rem 0;
	text-shadow: 1px 1px 1px gray;
}
.headline {
	display: inline-block;
	margin: 8px 0;
	font-size: 1.2rem;
	font-weight: bold;
	color: rgb(145, 170, 100);
}

a {
  color: #00B7FF;
  
}

section {
	box-shadow: 0 0 1px rgba(0,0,0,.52);
	border-left: 1px solid rgb(121, 232, 54);
}
#count {
	margin: 2rem auto .5rem 0;
	color: gray;
}

#registerWindow {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 100%;
	left: 0;
	height: 0;
	width: 100%;
	background: rgba(32, 3, 4, 0.87);
}

#registerWindowInner {
	margin: 10% auto 10% auto;
	padding: 2% 0 0 4% ;
	width: 80%;
	height: 60%;
	border-radius: .5rem;
	background: white;
	box-shadow: 0 0 1px rgba(0,0,0,.32);
}

#registerWindowInnerForm input {
	height: 1rem;
	border: 1px solid rgb(115, 153, 23);
	border-radius: .1rem;
}
#registerWindowInnerForm span {
	margin: .1rem 0;
}

#visual {
	margin: 0 auto 1rem 0;
	padding: 0;
	width: 95%;
	height: 72%;
	box-shadow: 0 0 1px rgba(0,0,0,.16)
}

#magnification {
	position: absolute;
	top: 50%;
	left: 5%;
	display:  none;
	-webkit-transform: rotate(-90deg);
}

.label {
	display: inline-block;
	width: 5rem;
	height: 1.3rem;
	color: gray;
}

#signUpCheck,#cancel,#create,#save,#update,#removeLog,#remove {
	float: left;
	display: block;
	margin: .2rem .3rem 0 0;
	padding: 0;
	width: 1.8rem;
    height: 1.8rem;
    border-radius: 1.8rem;
    border: 1px solid rgba(186, 186, 186, 0.98);
    background: rgba(0,0,0, 0.32);
    line-height: 1.7rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#save,#signUpCheck,#update,#remove {
	-webkit-transform: rotate(135deg);
}

#register,#searchNo {
	margin: 0 auto;
	padding: 0;
	height: 2rem;
	width: 2rem;
	line-height: 2rem;
	text-align: center;
	border-radius: 2rem;
	color: white;
	font-weight: bold;
	text-shadow: 0 0 1px gray;
	border: 1px solid transparent; 
	background: rgba(243, 12, 5, 0.6);
}

#register:hover,#searchNo:hover {
	-webkit-transition: all .3s cubic-bezier(0.215, -0.400, 0.685, 1.530) 0;
	-webkit-transform: scale(1.1);
	color: rgba(243, 12, 5, 0.6);
	background: white;
	border: 1px solid rgba(243, 12, 5, 0.6);
}

#searchName {
	float: left;
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 1.9rem;
	width: 1.9rem;
	line-height: 1.9rem;
	text-align: center;
	border-radius: .2rem 0 0 .2rem;
	color: white;
	font-weight: bold;
	text-shadow: 0 0 1px gray;
	border: 1px solid transparent; 
	background: rgba(243, 12, 5, 0.6);
}

#NoNum {
	height: 1.5rem;
	border: 1px solid rgba(243, 12, 5, 0.32);
	border-radius: .2rem;
}

#nameText {
	height: 1.8rem;
	border: 1px solid rgba(243, 12, 5, 0.32);
	border-radius: 0 .2rem .2rem 0;
}

#infomation {
	padding: 1rem 0 1rem 1rem;
	background: rgba(0,0,0,.04);
}
.caution {
	color: red;
	font-size: .7rem;
	-webkit-animation:caution 4s ease 0 ininite alternate;
}

@-webkit-keyframes caution {
	0% {opacity:1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}
.end {
	display: inline-block;
	margin: 0 2rem 0 0;
	height: 2rem;
	line-height: 2rem;
	/*background: rgba(198, 75, 54, 0.69);*/
	border-radius: 4px;
}
.end input {

	line-height: .8rem;
}

#controlPanel {
	margin: 0 auto 0 20%;
	width: 30%;
	border-radius: 0 0 1rem 1rem;
	box-shadow: 0 0 1px rgba(0,0,0,.48);
	list-style-type: none;
	/*display: none;*/
}

#AD {
	margin: 0;
	padding: .1rem;
	height: 1.2rem;
	width: auto;
	box-shadow: 0 0 1px rgba(0,0,0.32);
}

/* card */
.head {
	display: inline-block;
	margin: 1rem auto .5rem 0;
	padding-left: .3rem;
	height: 2rem;
	width: 5rem;
	line-height: 2rem;
	font-weight: bold;
	border-left: 1rem solid rgb(145, 170, 100);
	border-radius: 0 .2rem .2rem 0;
	color: rgb(115, 153, 23);
	text-shadow: 0 0 2px rgba(0,0,0,1) inset;
	background: rgb(240,240,240);
}

#birthday ul{
	list-style: none;
	
}

#history {
	overflow: scroll;
	height: 5rem;
}

#memo {
	overflow: scroll;
	height: 5rem;
	width: 99%;
	padding: 1% 0 1% 1%;
}

#karte {
	overflow: scroll;
	width: 100%;
	height: 20rem;
}

#kartes img {
	position: relative;
	left: 0;
}

.img {
	position:relative;
	left: 20px;
	top: -30px;
	color: white;
}

.question {
	float: right;
	margin-top: 2rem;
	right: 0;
}
/* 会員検索　*/
#searchResult {
	overflow: scroll;
	margin: 0 auto 1rem 0;
	width: 100%;
	height: 200px;
	border-radius: .3rem;
	box-shadow: -1px -1px 2px rgba(0,0,0,.32) inset,1px 1px 1px rgba(0,0,0,0.18) inset;
}

.list,.logList {
	background: rgba(215, 223, 203, 0.17);
	width: 100%;
	height: 1.4rem;
	line-height: 1.4rem;
}
.list span,.logList span {
	margin: 0 .5rem;
	height: 1.4rem;
	line-height: 1.6rem;
	font-size: .9rem;
}
/* カードモーダル　*/
#newKarte,#file,#writeMemo  {
	display: inline-block;
	position: relative;
	margin: 1rem 0 .5rem 1rem;
	padding: 0;
	height: 2rem;
	width: 2rem;
	line-height: 2rem;
	text-align: center;
	border-radius: 2rem;
	color: rgb(145, 170, 100);
	font-weight: bold;
	font-size: 1.2rem;
	text-shadow: 0 0 1px gray;
	border: 1px solid transparent; 
	background: rgb(240,240,240);
}

#file::after {
	position: absolute;
	top: -1px;
	left: -1px;
	height: 2rem;
	width: 2rem;
	line-height: 1.8rem;
	text-align: center;
	border-radius: 2rem;
	color: rgb(145, 170, 100);
	font-weight: bold;
	font-size: 1.2rem;
	text-shadow: 0 0 1px gray;
	border: 1px solid transparent; 
	background: rgb(240,240,240);
	content:"+";

}

#newKarte:hover,#file:hover::after,#writeMemo:hover {
	-webkit-transition: all .5s ease 0;
	color: rgb(240,240,240);
	background: rgb(145, 170, 100);
	box-shadow: 0 0 2px rgba(255,255,255,.6) inset;
}

#modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width:100%;
	background: rgba(255,255,255,.16);
	-webkit-filter: blur(0px);
}
#modalInner {
	margin: 12% auto;
	padding: 1rem;
	width: 52%;
	height: 52%;
	background: white;
	box-shadow: 0 0 1px black;
}

#rankingIcon {
	position: absolute;
	top: 12%;
	margin: 0;
	padding: 0;
	width: 56px;
	height: 56px;
	background: url('/images/icon_ribbon_alt.svg'),red;
	background-repeat: no-repeat;
	background-position: 12px 12px;
	border-radius: 56px;
	border: 2px solid rgb(255,255,255);
	box-shadow: 0 0 2px rgba(0,0,0.32);
	line-height: 56px;
	text-align: center;
	-webkit-transition: margin-top 1s ease ;
}


#analyticsTab {
	display: block;
	margin: 0;
	padding: 0 0 0 4rem;
	height: 1.51rem;

}
#analyticsTab li {
	float: left;
	display: inline-block;
	list-style-type: none;
	margin: 0 0 0 .1rem;
	padding: 0 .5rem;
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: .8rem;
	text-shadow: 0 1 0 gray;
	border-radius: .2rem .2rem 0 0;
	background: rgba(0,0,0,.18);
}
#analyticsTab li:hover {
	color: white;
	text-shadow: 0 1 0 black;
	background: rgba(0,0,0,.32);
}

#analyticsExplain {
	position: relative;
	float: right;
	right: 5%;
	height: 15%;
	width: 50%;
	box-shadow: 0 0 1px rgba(0,0,0,.48);
}
